.btnCartCount {
    width: 3.125rem;
    height: 3.125rem;
    background: #000;
    color: #fff;
    border-radius: 0.9375rem;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 1.5rem;
    cursor: pointer;
    right: 1rem;
    &.btnCartCount .count {
        position: absolute;
        background: red;
        top: -0.75rem;
        left: -0.5625rem;
        transform: rotate(-45deg);
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        font-size: 0.85rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-weight: bold;
    }
    &.btnCartCount i {
        transform: rotate(-45deg);
    }
}
